html,body,page{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
page{
    font-size:180px;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 20%;
}
#c{
    background: aquamarine;
    /*animation: c 6s infinite;*/
}
#x{
    background: red;
    /*animation: x 6s infinite;*/
}
#q{
    background: yellow;
    /*animation: q 6s infinite;*/
}
#d{
    background: black;
    color: white;
    /*animation: d 6s infinite;*/
}
@keyframes c {
    0%{opacity:0}
    20%{opacity:100}
    40%{opacity:0}
    60%{opacity:0}
    100%{opacity:0}
}
@keyframes x {
    0%{opacity:0}
    20%{opacity:0}
    40%{opacity:100}
    60%{opacity:0}
    100%{opacity:0}
}
@keyframes q {
    0%{opacity:0}
    20%{opacity:0}
    40%{opacity:0}
    60%{opacity:100}
    100%{opacity:0}
}
@keyframes d {
    0%{opacity:0}
    20%{opacity:0}
    40%{opacity:0}
    60%{opacity:0}
    100%{opacity:100}
}
